---
http_interactions:
- request:
    method: get
    uri: http://api.meetup.com/2/photos?event_id=13452536&key=663a24605a37767831495d6332546b4a&sign=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Meetup-Server:
      - api15.int.meetup.com
      X-Meetup-Request-Id:
      - b017a119-c36e-447b-8177-0ae139173f36
      X-Oauth-Scopes:
      - basic
      X-Accepted-Oauth-Scopes:
      - basic
      Etag:
      - W/"a79703d3e1abf49605af26d5ec8a9a1e"
    body:
      encoding: UTF-8
      string: |
        {"results":[],"meta":{"lon":"","count":0,"signed_url":"http:\/\/api.meetup.com\/2\/photos?event_id=13452536&order=time&desc=True&offset=0&format=json&page=200&fields=&sig_id=90485442&sig=5e078a122689c659fc478d574b2143557c9de757","link":"http:\/\/api.meetup.com\/2\/photos","next":"","total_count":0,"url":"http:\/\/api.meetup.com\/2\/photos?key=663a24605a37767831495d6332546b4a&event_id=13452536&order=time&desc=True&offset=0&format=json&page=200&fields=&sign=True","id":"","title":"Photos","updated":0,"description":"Retrieve photos by album, member, photo, group, or tagging","method":"Photos","lat":""}}
  recorded_at: Mon, 03 Nov 2014 19:56:33 GMT
recorded_with: VCR 2.9.3
